* {
	box-sizing:border-box;
}
body {
	margin:0;
}
* {
	box-sizing:border-box;
}
body {
	margin:0;
}
.gjs-link-box {
	color:inherit;
	display:inline-block;
	vertical-align:top;
	padding:10px;
	max-width:100%;
	text-decoration:none;
}
.gjs-grid-column {
	flex:1 1 0%;
	padding:5px 0;
}
.gjs-link {
	vertical-align:top;
	max-width:100%;
	display:inline-block;
	text-decoration:none;
	color:inherit;
	transition:color 0.3s ease 0s;
}
.gjs-grid-row {
	display:flex;
	justify-content:flex-start;
	align-items:stretch;
	flex-direction:row;
	min-height:auto;
	padding:10px 0;
}
.gjs-heading {
	margin:0;
	color:rgba(29,40,55,1);
}
#id7x {
	flex:0 1 auto;
	display:block;
	padding-left:10px;
	padding-right:10px;
}
#iffs {
	flex:0 1 auto;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding-top:5px;
	padding-right:164px;
	padding-bottom:1px;
	padding-left:0px;
	flex-basis:1auto;
}
#iyd2 {
	align-items:center;
	justify-content:space-between;
	padding-top:0px;
	padding-bottom:0px;
	background-color:rgba(255,255,255,0.8);
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	backdrop-filter:blur(13px);
	box-shadow:0px 2px 7px 0px rgba(0,0,0,0.14);
	min-height:10px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding-right:0px;
	padding-left:0px;
}
#i6po {
	justify-content:center;
	position:sticky;
	top:15px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:20px;
	padding-right:20px;
}
#itjq {
	width:100%;
	max-width:1200px;
}
#icfyb {
	padding:10px;
	font-family:Arial,Helvetica,sans-serif;
	padding-left:20px;
	padding-right:20px;
}
#irz7b {
	justify-content:center;
	padding-top:41px;
	padding-bottom:80px;
	padding-left:20px;
	padding-right:20px;
}
#iycz3 {
	max-width:1200px;
	align-items:center;
	display:flex;
	flex-direction:column;
	gap:10px;
}
#irjua {
	font-size:3rem;
	text-align:center;
}
#itndw {
	padding:10px;
	max-width:750px;
	margin-bottom:25px;
	text-align:center;
}
#i3vvs {
	color:black;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom-right-radius:35px;
	border-bottom-left-radius:35px;
	max-width:100%;
	margin-top:38px;
	margin-right:38px;
	margin-bottom:38px;
	margin-left:38px;
}
.text-main-content {
	line-height:30px;
	font-size:1.2rem;
}
#iau9 {
	font-family:Arial,Helvetica,sans-serif;
	background-image:linear-gradient(180deg,rgba(59,130,245,0.11),white 14%);
	background-position:0px 0px;
	background-size:100% 100%;
	background-repeat:repeat;
	background-attachment:scroll;
	background-origin:padding-box;
	color:#475569;
}
#ij2gh {
	font-size:1.2rem;
	margin-bottom:15px;
}
#igrx8 {
	padding:10px;
	max-width:750px;
	margin-bottom:25px;
	padding-left:0px;
	padding-right:0px;
}
#i466d {
	color:black;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom-right-radius:35px;
	border-bottom-left-radius:35px;
	max-width:100%;
}
#imymf {
	max-width:1200px;
	align-items:center;
	display:flex;
	flex-direction:column;
}
#feature-section {
	justify-content:center;
	padding-top:80px;
	padding-bottom:80px;
	padding-left:20px;
	padding-right:20px;
}
#ib541 {
	gap:100px;
	justify-content:space-between;
}
#iz8m8 {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
}
#in9ef {
	font-size:1.5rem;
}
#i8isa {
	padding:10px;
	padding-left:0px;
	padding-right:0px;
}
#i8w4i {
	max-width:1200px;
	display:flex;
	flex-direction:column;
}
#ioyxg {
	justify-content:center;
	padding-top:80px;
	padding-bottom:80px;
	padding-left:20px;
	padding-right:20px;
}
#iiacm {
	font-size:2.5rem;
	margin-bottom:10px;
	max-width:750px;
}
#ixzh1 {
	width:100%;
	flex-wrap:wrap;
	justify-content:flex-start;
	gap:50px;
}
.gjs-grid-column.feature-item {
	padding-top:15px;
	padding-right:15px;
	padding-bottom:15px;
	padding-left:15px;
	display:flex;
	flex-direction:column;
	gap:15px;
	min-width:30%;
}
#ia21sa {
	padding:10px;
	max-width:750px;
	margin-bottom:70px;
	padding-left:0px;
	padding-right:0px;
}
.gjs-grid-column.testimonial-item {
	padding-top:15px;
	padding-right:15px;
	padding-bottom:15px;
	padding-left:15px;
	display:flex;
	flex-direction:column;
	gap:15px;
	min-width:45%;
	background-color:rgba(247,247,247,0.23);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	align-items:flex-start;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-top-color:rgba(0,0,0,0.06);
	border-right-color:rgba(0,0,0,0.06);
	border-bottom-color:rgba(0,0,0,0.06);
	border-left-color:rgba(0,0,0,0.06);
}
#ilriti {
	max-width:1200px;
	display:flex;
	flex-direction:column;
}
#iv3be5 {
	justify-content:center;
	padding-top:80px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:80px;
}
#im0rle {
	flex-direction:column;
}
#iotp6j {
	align-self:center;
}
#it6g1v {
	padding:10px;
	text-align:center;
	font-size:0.8rem;
	margin-top:20px;
	opacity:75%;
}
#ipjdtn {
	display:block;
}
#i1hx7l {
	display:flex;
	gap:30px;
	flex:0 1 auto;
	justify-content:center;
	margin-top:30px;
	margin-bottom:30px;
}
#i2sl68 {
	display:block;
}
.gjs-button {
	vertical-align:top;
	max-width:100%;
	display:inline-block;
	text-decoration:none;
	color:white;
	padding-right:15px;
	padding-bottom:10px;
	padding-left:15px;
	background-color:rgb(36,99,235);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	padding-top:10px;
	font-size:1.1rem;
	text-align:center;
}
.gjs-text-blue {
	color:rgb(36,99,235);
}
#ism014 {
	font-size:2.5rem;
}
#in201n {
	padding:10px;
	max-width:750px;
	margin-bottom:35px;
	padding-left:0px;
	padding-right:0px;
	text-align:center;
	margin-top:35px;
}
#ik2rdi {
	max-width:1200px;
	align-items:center;
	display:flex;
	flex-direction:column;
	padding-top:50px;
	padding-right:50px;
	padding-bottom:50px;
	padding-left:50px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-right-radius:50px;
	border-bottom-left-radius:50px;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-top-color:rgba(0,0,0,0.06);
	border-right-color:rgba(0,0,0,0.06);
	border-bottom-color:rgba(0,0,0,0.06);
	border-left-color:rgba(0,0,0,0.06);
	background-image:radial-gradient(515px at 50% 141%,rgba(35,98,235,0.22) 10%,white 90%);
	background-position:0px 0px;
	background-size:100% 100%;
	background-repeat:repeat;
	background-attachment:scroll;
	background-origin:padding-box;
	box-shadow:0px 10px 15px 0 rgba(0,0,0,0.07);
}
#iz29ek {
	justify-content:center;
	padding-top:80px;
	padding-bottom:80px;
	padding-left:20px;
	padding-right:20px;
}
.gjs-link:hover {
	color:rgb(36,99,235);
	text-decoration:underline;
}
#ihs4lb {
	font-size:1.2rem;
	margin-bottom:15px;
}
#ieu6p6 {
	font-size:1.5rem;
}
#izqkf7 {
	padding:10px;
	padding-left:0px;
	padding-right:0px;
}
#ica43q {
	font-size:1.5rem;
}
#ickn3f {
	padding:10px;
	padding-left:0px;
	padding-right:0px;
}
#i83vu9 {
	font-size:2.5rem;
	text-align:center;
}
#infmy1 {
	padding:10px;
	font-family:Arial,Helvetica,sans-serif;
	padding-left:20px;
	padding-right:20px;
}
#ic3b3l {
	font-size:1.5rem;
}
#iyvbm1 {
	padding:10px;
	padding-left:0px;
	padding-right:0px;
}
#ilr69l {
	font-size:1.5rem;
}
#i1a8ec {
	padding:10px;
	padding-left:0px;
	padding-right:0px;
}
#ij02ak {
	font-size:1.5rem;
}
#idc5sn {
	padding:10px;
	padding-left:0px;
	padding-right:0px;
}
#ibxnvw {
	font-size:1.5rem;
}
#idixxk {
	padding:10px;
	padding-left:0px;
	padding-right:0px;
}
#ivk5jk {
	padding:10px;
	padding-left:0px;
	padding-right:0px;
}
#i9ff2q {
	font-size:1.5rem;
}
#iu70hi {
	font-size:1.5rem;
}
#izgcqn {
	padding:10px;
	padding-left:0px;
	padding-right:0px;
}
#if54jd {
	font-weight:normal;
}
#i8foep {
	width:150px;
	height:41px;
}
#iqc4bb {
	display:block;
	padding-top:0px;
	padding-bottom:0px;
}
#ie4twq {
	width:51px;
	height:51px;
}
#i8tkki {
	width:54px;
	height:54px;
}
#i1wzae {
	width:49px;
	height:49px;
}
#i8gt85 {
	width:51px;
	height:51px;
}
#idqvit {
	width:50px;
	height:50px;
}
#ie4ohr {
	width:52px;
	height:52px;
}
#iqwo9j {
	width:52px;
	height:52px;
}
#izbfvq {
	width:53px;
	height:53px;
}
#im55ak {
	width:53px;
	height:53px;
}
@media (max-width:992px) {
	.gjs-grid-row {
	flex-direction:column;
}
#iyd2 {
	flex-direction:row;
}
}@media (max-width:768px) {
	#iffs {
	display:none;
}
}
